@page
@model AutoArchiver.Web.Pages.email_successModel
@{
}

<section class="box py-md">
    <div class="box-inner">

        @*<section class="box box-b 2" id="contact-us">*@
        @*<div class="box-text">*@
        <h2 class="text-xl text-green">Thank You</h2>

        <p class="text-sm">Thank you for your email - someone will be in touch soon</p>



    </div>

    <!-- Try for Free-->
    @*    <div class="box-text" id="try-for-free">
    <h2 class="text-xl">Try for Free</h2>
    <p class="text-sm">Please contact me (details to the left) and we can get you setup quickly <b>15 mins</b> on one of our demo sheets. </p>

    <p class="text-sm">You will be able to archive as many links as you want, and will have access to support.</p>
    </div>*@
</section>
