@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Arlawesi</h1>
    <p>Specialised technology advice and development for the UK Legal Sector</p>
    <p>Find and develop technology with a focus on regulatory issues </p>
</div>
