@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="box py-md">
    <div class="box-inner">

        @*<section class="box box-b 2" id="contact-us">*@
        @*<div class="box-text">*@
        <h2 class="text-xl">Privacy</h2>

        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="text-sm"></p>


    </div>

    <!-- Try for Free-->
    @*    <div class="box-text" id="try-for-free">
    <h2 class="text-xl">Try for Free</h2>
    <p class="text-sm">Please contact me (details to the left) and we can get you setup quickly <b>15 mins</b> on one of our demo sheets. </p>

    <p class="text-sm">You will be able to archive as many links as you want, and will have access to support.</p>
    </div>*@
</section>
